<div id="welcome">
  <div id="wrapper">



    <div id="left-sidebar" class="sidebar">

      <div class="sidebar-scroll">
        <div class="user-account">
          <div class="dropdown">
            <span>Bienvenue,</span>
            <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
              <li><a href="page-profile.html"><i class="icon-user"></i>Mon profile</a></li>
              <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
              <li><a href="javascript:void(0);"><i class="icon-settings"></i>Paramètres</a></li>
              <li class="divider"></li>
              <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
            </ul>
          </div>
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <li class="header">Menu</li>
            <li>
              <a href="#myPage" class="has-arrow"><i class="icon-home"></i><span>My Page</span></a>
              <ul>
                <li><a href="/">Mon Dashboard</a></li>
                <li><a href="index4.html">Deploy</a></li>
                <li><a href="index5.html">Monitoring</a></li>
                <li><a href="index6.html">Mises à Jour</a></li>
              </ul>
            </li>
            <li class="header">Pour votre application</li>
            <li>
              <a href="#Contact" class="has-arrow"><i class="icon-book-open"></i><span>Ressources</span></a>
              <ul>
                <li><a href="app-contact.html">Base de données</a></li>
                <li><a href="app-contact2.html">Réseau(x)</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="main-content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
              <h1>Gérer vos serveurs</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Supinfo</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Gérer vos serveurs</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-auto">
                    <div class="stamp">
                      <img src="/asset_from_template/images/coin/BTC.svg" class="w40" alt="Bitcoin" />
                    </div>
                  </div>
                  <div class="col text-right">
                    <div class="text-muted">Nombre de serveurs</div>
                    <div class="h4 m-0">2</div>
                  </div>
                </div>
              </div>
              <div class="card-chart-bg pt-4">
                <div id="chart-bg-users-4" style="height: 60px"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-auto">
                    <div class="stamp">
                      <img src="/asset_from_template/images/coin/LTC.svg" class="w40" alt="Litecoin" />
                    </div>
                  </div>
                  <div class="col text-right">
                    <div class="text-muted">Serveurs en cours d'éxécution</div>
                    <div class="h4 m-0">1</div>
                  </div>
                </div>
              </div>
              <div class="card-chart-bg pt-4">
                <div id="chart-bg-users-1" style="height: 60px"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-auto">
                    <div class="stamp">
                      <img src="/asset_from_template/images/coin/ETH.svg" class="w40" alt="Ethereum" />
                    </div>
                  </div>
                  <div class="col text-right">
                    <div class="text-muted">Serveur(s) stoppé(s)</div>
                    <div class="h4 m-0">1</div>
                  </div>
                </div>
              </div>
              <div class="card-chart-bg pt-4">
                <div id="chart-bg-users-2" style="height: 60px"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="col-auto">
                    <div class="stamp">
                      <img src="/asset_from_template/images/coin/neo.svg" class="w40" alt="Cardano" />
                    </div>
                  </div>
                  <div class="col text-right">
                    <div class="text-muted">Utilisateurs</div>
                    <div class="h4 m-0">2</div>
                  </div>
                </div>
              </div>
              <div class="card-chart-bg pt-4">
                <div id="chart-bg-users-3" style="height: 60px"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-12">
            <ajax-form action="deploy" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm" >
              <div class="body">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="form-group">
                      <label class="form-label">Nom</label>
                      <input type="text" class="form-control" name="name" v-model.trim="formData.name" type="text" placeholder="Ex: Serveur Sails Js" focus-first>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-8">
                    <div class="form-group">
                      <label class="form-label">Sélectionnez le playbook à utiliser</label>
                      <select name="playbook_to_use" v-model.trim="formData.playbook_to_use" class="custom-select">
                        <option selected="">Docker</option>
                        <option selected="">Website in LAMP ARCHITECTURE</option>
                        <option selected="">Wordpress</option>
                        <option selected="">Sails js</option>
                        <option value="1">Django</option>
                        <option value="2">Spring</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="form-label">Port de votre application</label>
                      <input name="port_of_your_app" v-model.trim="formData.port_of_your_app" type="text" class="form-control" placeholder="8080">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <label class="form-label">IP Serveur Cible</label>
                      <input name="ip_server_cible" v-model.trim="formData.ip_server_cible" type="text" class="form-control" placeholder="ex: 192.168.1.2">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <label class="form-label">Port SSH</label>
                      <input name="port_ssh" type="text" v-model.trim="formData.port_ssh" class="form-control" placeholder="22">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <label class="form-label">User</label>
                      <input name="user" type="text" v-model.trim="formData.user" class="form-control" placeholder="Ex: admin_web">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                      <label class="form-label">Password</label>
                      <input name="password" type="password" v-model.trim="formData.password" class="form-control" placeholder="passwordlol">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-5 col-md-12">
                    <div class="form-group">
                      <label class="form-label">Dépôt Git</label>
                      <input name="git_repository" v-model.trim="formData.git_repository" type="text" class="form-control" placeholder="https://gitlab.com/leoandfox/autodenv.git">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-12">
                    <div class="form-group">
                      <label class="form-label">&nbsp;</label>
                      <ajax-button type="submit" :syncing="syncing" class="btn btn-success btn-block">Déployez</ajax-button>
                    </div>
                  </div>
                </div>
              </div>
            </ajax-form>
          </div>
        </div>


      </div>
    </div>

  </div>
  <router-view></router-view>

  <!--  ╔═╗═╗ ╦╔═╗╔╦╗╔═╗╦  ╔═╗  ┌┬┐┌─┐┌┬┐┌─┐┬
        ║╣ ╔╩╦╝╠═╣║║║╠═╝║  ║╣   ││││ │ ││├─┤│
        ╚═╝╩ ╚═╩ ╩╩ ╩╩  ╩═╝╚═╝  ┴ ┴└─┘─┴┘┴ ┴┴─┘  -->
  <!-- <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Example modal</h2>
      <p>At your leisure, please peruse this excerpt from a whale of a tale.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Chapter 1: Loomings.</h5>
      <p>Call me Ishmael. Some years ago—never mind how long precisely—having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off—then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.</p>
      <div class="js-timestamp-examples">
        <h5 class="section-heading">About 2 years ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*365*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">About 2 months ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*30*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">2 days ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">2 hours ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(2*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">15 minutes ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(15*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">45 seconds ago</h5>
        <p>
          <js-timestamp :at="pageLoadedAt-(45*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(45*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt-(45*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">Right now</h5>
        <p>
          <js-timestamp :at="pageLoadedAt"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In an hour</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In two days</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In about two months</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*30*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
        <h5 class="section-heading">In about two years</h5>
        <p>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)" format="timeago" short="true"></js-timestamp><br/>
          <js-timestamp :at="pageLoadedAt+(2*365*24*60*60*1000)" format="calendar"></js-timestamp><br/>
        </p>
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal> -->
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
